<div id="post_content" >
  <h1 class="title">
    <%= @post.title %>
  </h1>

  <p class="date">
    <%= time_ago_in_words(@post.created_at) %> ago
    <% if user_signed_in? %>
      | <%= link_to 'Edit', edit_post_path(@post) %>
      | <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </p>

  <p>
    <%= image_tag @post.image.url(:medium) %>
  </p>

  <p class="body">
    <%= @post.body %>
  </p>
  <p> 
  <h4><%= @post.likes.count %></h4>
  <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
  <% if pre_like %>
    <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>
  <% else %>
    <%= button_to 'Like', post_likes_path(@post), method: :post %>
  <% end %>

  <div id="comments">
    <h4><%= @post.comments.count %> Comments</h4>
    <%= render @post.comments %>

    <h3>Add a comments</h3>
    <%= render "comments/form" %>
  </div>


  <strong><%= link_to 'Back', posts_path %></strong>
</div>